@import "nullstyle.scss";

$color-black: #1e1f36;
$color-pale-black: #4b4c5f;
$color-more-pale-black: #787887;
$color-pale-gray: #e8e8ea;

* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  background: #ffffff;
}

.faq {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  padding: 148px 24px 50px;
  .container {
    min-height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    padding: 132px 24px 0;
    background-image: url("@img/background-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  &__mobile-photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-55%, 21%);
  }
  &__desktop-photo {
    display: none;
  }
  &__desktop-cube {
    display: none;
  }
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $color-black;
    margin-bottom: 11px;
  }
  &__content {
    max-width: 350px;
    width: 100%;
  }
}

@media screen and (min-width: 1040px) {
  .faq {
    height: 100vh;
    padding: 129px 0 0;
    .container {
      min-height: 522px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 65px 95px 83px 0;
      background-image: url("@img/background-desktop.png");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 388px;
    }
    &__mobile-photo {
      display: none;
    }
    &__photo-wrapper {
      position: relative;
    }
    &__desktop-photo {
      display: unset;
      max-width: 388px;
    }
    &__desktop-cube {
      width: 150px;
      display: unset;
      position: absolute;
      left: -73px;
      top: 135px;
    }

    &__title {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: $color-black;
      margin-bottom: 11px;
    }
  }
}

.arrow-icon {
  fill: transparent;
  stroke: #f47b56;
  width: 8px;
  height: 4px;
  transition: all 0.3s ease-in-out;
}

.faq-list {
  &__item {
    width: 100%;
    border-bottom: 1px solid $color-pale-gray;
  }
  &__summary-wrapper {
    cursor: pointer;
    padding: 19px 0 19px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    
  }
  &__item.active &__summary{
    font-weight: 700;
    color: $color-black;
  }
  &__summary-wrapper:hover &__summary{
    color: #F47B56;
  }
  &__item {
    transform: rotate(0deg);
    transition: rotate 0.3s ease-in-out;
  }
  &__item.active &__arrow-icon {
    transform: rotate(180deg);
  }
  
  &__summary {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $color-pale-black;
    transition: all 0.3s ease-in-out;
  }
  &__details-wrapper {
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear;
  }
  &__item.active &__details {
  }
  &__details {
    margin-top: -5px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-more-pale-black;
  }
}
